@{
	var result = ViewBag.data as List<string> ?? new();
	var text = ViewBag.text ?? "";
	var column = ViewBag.column ?? "";
}

<form>
	<label for="searchColumn">Выберите столбец для поиска:</label><br />
	<select name="searchColumn">
		<option value="OuterDiameter" @(column == "OuterDiameter" ? "selected" : "")>OuterDiameter</option>
		<option value="Thickness" @(column == "Thickness" ? "selected" : "")>Thickness</option>
		<option value="LinearInternalVolume" @(column == "LinearInternalVolume" ? "selected" : "")>LinearInternalVolume</option>
		<option value="LinearWeight" @(column == "LinearWeight" ? "selected" : "")>LinearWeight</option>
	</select><br />

	<label for="searchText">Введите текст для поиска:</label><br />
	<input type="text" name="searchText" value="@text" /><br />

	<input type="submit" value="Найти" />
</form>

<div>
	@foreach (var item in result)
	{
		<p>@item</p>
	}
</div>