@using ModelsLibrary
@using ModelsLibrary.Models;
@{
    var steelPipes = ViewBag.data as List<SteelPipe>;
    int pageNumber = ViewBag.pageNumber ?? 1;
    int totalPages = ViewBag.totalPages ?? 0;
    ViewBag.PageType = "steelPipe";
}
<!DOCTYPE html>
<html>
<head>
    <title>Steel Pipes</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".edit-button").click(
                function () {
                    var row = $(this).closest("tr");
                    var pipeId = row.find(".pipe-id").text();
                    var outerDiameter = row.find(".outer-diameter").text();
                    var thickness = row.find(".thickness").text();
                    var linearInternalVolume = row.find(".linear-internal-volume").text();
                    var linearWeight = row.find(".linear-weight").text();

                    $("#selected-data [name='pipeId']").val(pipeId);
                    $("#selected-data [name='outerDiameter']").val(outerDiameter);
                    $("#selected-data [name='thickness']").val(thickness);
                    $("#selected-data [name='linearInternalVolume']").val(linearInternalVolume);
                    $("#selected-data [name='linearWeight']").val(linearWeight);
                }
            );
        });
    </script>
    <style>
        .containerr {
            display: flex;
        }

        .table-container {
            margin-right: 20px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/EnterpriseCreateDelete.css" />
    <link rel="stylesheet" type="text/css" href="/css/Index.css" />
</head>
<body>
        <p>
            <a href='@Url.Action("Create", "SteelPipe")' class="button">Добавить трубу</a>
            <a href='@Url.Action("Delete", "SteelPipe")' class="button">Удалить трубу</a>
            <a href='@Url.Action("Index", "Home")' class="button">Вернуться на главную</a>
        </p>
    <h3>Список труб</h3>
    <div class="containerr">
        <div class="table-container">
            <table>
                <tr>
                    <th>Код</th>
                    <th>Внешний диаметр</th>
                    <th>Толщина</th>
                    <th>Линейный внутренний объем</th>
                    <th>Линейная масса</th>
                    <th>Действия</th>
                </tr>

                @foreach (SteelPipe steelPipe in steelPipes)
                {
                    <tr>
                        <td class="pipe-id">@steelPipe.PipeId</td>
                        <td class="outer-diameter">@steelPipe.OuterDiameter</td>
                        <td class="thickness">@steelPipe.Thickness</td>
                        <td class="linear-internal-volume">@steelPipe.LinearInternalVolume</td>
                        <td class="linear-weight">@steelPipe.LinearWeight</td>
                        <td><button class="edit-button">Редактировать</button></td>
                    </tr>
                }
            </table>
        </div>
        <div id="selected-data">
            <h2>Выбранные данные</h2>
            <form action="/SteelPipe/Update" method="post" class="container">
                <label for="outerDiameter">Внешний диаметр:</label>
                <input type="number" name="outerDiameter" required>
                <br>
                <label for="thickness">Толщина:</label>
                <input type="number" name="thickness" required>
                <br>
                <label for="linearInternalVolume">Линейный внутренний объем:</label>
                <input type="number" name="linearInternalVolume" required>
                <br>
                <label for="linearWeight">Линейная масса:</label>
                <input type="number" name="linearWeight" required>
                <br>
                <input type="hidden" value="@pageNumber" name="PageNumber" />
                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>
    </div>
    @Html.Partial("_pagingPartial")
</body>
</html>
