@using ModelsLibrary.Models;
@{
    var enterprises = ViewBag.data as List<Enterprise>;
    int pageNumber = ViewBag.pageNumber ?? 1;
    int totalPages = ViewBag.totalPages ?? 0;
    ViewBag.PageType = "enterprise";
}
<!DOCTYPE html>
<html>
<head>
    <title>Enterprises</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".edit-button").click(
                function () {
                    var row = $(this).closest("tr");
                    var id = row.find(".enterprise-id").text();
                    var name = row.find(".enterprise-name").text();
                    var organization = row.find(".management-organization").text();

                    $("#selected-data [name='enterpriceId']").val(id);
                    $("#selected-data [name='name']").val(name);
                    $("#selected-data [name='organization']").val(organization);
                }
            );
        });
    </script>
    <style>
        .containerr {
            display: flex;
        }

        .table-container {
            margin-right: 20px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/EnterpriseCreateDelete.css" />
    <link rel="stylesheet" type="text/css" href="/css/Index.css" />
</head>
<body>
        <p>
            <a href='@Url.Action("Create", "Enterprise")' class="button">Добавить компанию</a>
            <a href='@Url.Action("Delete", "Enterprise")' class="button">Удалить компанию</a>
            <a href='@Url.Action("Index", "Home")' class="button">Вернуться на главную</a>
        </p>
    <h3>Список компаний</h3>
    <div class="containerr">
        <div class="table-container">
            <table>
                <tr>
                    <th>Код</th>
                    <th>Название</th>
                    <th>Организация</th>
                    <th>Действия</th>
                </tr>

                @foreach (Enterprise enterprise in enterprises)
                {
                    <tr>
                        <td class="enterprise-id">@enterprise.ID</td>
                        <td class="enterprise-name">@enterprise.EnterpriseName</td>
                        <td class="management-organization">@enterprise.ManagementOrganization</td>
                        <td><button class="edit-button">Редактировать</button></td>
                    </tr>
                }
            </table>
        </div>
        <div id="selected-data">
            <h2>Выбранные данные</h2>
            <form action="/Enterprise/Update" method="post" class="container">
                <label for="enterpriceId">Код:</label>
                <input type="text" name="enterpriceId" readonly>
                <br>
                <label for="name">Название:</label>
                <input type="text" name="name" required>
                <br>
                <label for="organization">Организация:</label>
                <input type="text" name="organization" required>
                <br>
                <input type="hidden" value="@pageNumber" name="PageNumber" />
                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>
    </div>
    @Html.Partial("_pagingPartial")
</body>
</html>