@using ModelsLibrary.Models;
@{
    var heatConsumers = ViewBag.data as List<HeatConsumer>;
    int pageNumber = ViewBag.pageNumber ?? 1;
    int totalPages = ViewBag.totalPages ?? 0;
    ViewBag.PageType = "heatConsumer";
}
<!DOCTYPE html>
<html>
<head>
    <title>Heat Consumers</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".edit-button").click(
                function () {
                    var row = $(this).closest("tr");
                    var id = row.find(".consumer-id").text();
                    var name = row.find(".consumer-name").text();
                    var networkId = row.find(".network-id").text();
                    var nodeNumber = row.find(".node-number").text();
                    var calculatedPower = row.find(".calculated-power").text();

                    $("#selected-data [name='consumerId']").val(id);
                    $("#selected-data [name='consumerName']").val(name);
                    $("#selected-data [name='networkId']").val(networkId);
                    $("#selected-data [name='nodeNumber']").val(nodeNumber);
                    $("#selected-data [name='calculatedPower']").val(calculatedPower);
                }
            );
        });
    </script>
    <style>
        .containerr {
            display: flex;
        }

        .table-container {
            margin-right: 20px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/EnterpriseCreateDelete.css" />
    <link rel="stylesheet" type="text/css" href="/css/Index.css" />
</head>
<body>
        <p>
            <a href='@Url.Action("Create", "HeatConsumer")' class="button">Добавить потребителя</a>
            <a href='@Url.Action("Delete", "HeatConsumer")' class="button">Удалить потребителя</a>
            <a href='@Url.Action("Index", "Home")' class="button">Вернуться на главную</a>
        </p>
    <h3>Список потребителей</h3>
    <div class="containerr">
        <div class="table-container">
            <table>
                <tr>
                    <th>Код</th>
                    <th>Имя</th>
                    <th>Код сети</th>
                    <th>Имя сети</th>
                    <th>Номер узла</th>
                    <th>Расчетная мощность</th>
                    <th>Действия</th>
                </tr>

                @foreach (HeatConsumer consumer in heatConsumers)
                {
                    <tr>
                        <td class="consumer-id">@consumer.ConsumerId</td>
                        <td class="consumer-name">@consumer.ConsumerName</td>
                        <td class="network-id">@consumer.NetworkId</td>
                        <td>@consumer.Network?.NetworkName</td>
                        <td class="node-number">@consumer.NodeNumber</td>
                        <td class="calculated-power">@consumer.CalculatedPower</td>
                        <td><button class="edit-button">Редактировать</button></td>
                    </tr>
                }
            </table>
        </div>
        <div id="selected-data">
            <h2>Выбранные данные</h2>
            <form action="/HeatConsumer/Update" method="post" class="container">
                <label for="consumerName">Название:</label>
                <input type="text" name="consumerName" required>
                <br>
                <label for="networkId">Код сети:</label>
                <input type="number" name="networkId" required>
                <br>
                <label for="nodeNumber">Номер узла:</label>
                <input type="number" name="nodeNumber" required>
                <br>
                <label for="calculatedPower">Расчетная мощность:</label>
                <input type="number" name="calculatedPower" step="0.01" required>
                <br>
                <input type="hidden" value="@pageNumber" name="PageNumber" />
                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>
    </div>
    @Html.Partial("_pagingPartial")
</body>
</html>
