@using ModelsLibrary.Models
@{
	var result = ViewBag.data as List<HeatNetwork> ?? new();
	var text = ViewBag.text ?? "";
	var column = ViewBag.column ?? "";
}
<link rel="stylesheet" type="text/css" href="/css/ForSearch.css" />
<a href='@Url.Action("Index", "Home")' class="button">Вернуться на главную</a>
<br>
<br>
<form>
	<label for="searchColumn">Выберите столбец для поиска:</label><br />
	<select name="searchColumn">
		<option value="NetworkName" @(column == "NetworkName" ? "selected" : "")>NetworkName</option>
		<option value="NetworkNumber" @(column == "NetworkNumber" ? "selected" : "")>NetworkNumber</option>
	</select><br />

	<label for="searchText">Введите текст для поиска:</label><br />
	<input type="text" name="searchText" value="@text" /><br />

	<input type="submit" value="Найти" />
</form>

<div>
    <table border="1">
        <tr>
            <th>Код</th>
            <th>Название</th>
            <th>Номер сети</th>
        </tr>

        @foreach (HeatNetwork network in result)
        {
            <tr>
                <td>@network.ID</td>
                <td>@network.NetworkName</td>
                <td>@network.NetworkNumber</td>
            </tr>
        }
    </table>
</div>
