@using ModelsLibrary.Models;
@{
    var heatNetworks = ViewBag.data as List<HeatNetwork>;
    int pageNumber = ViewBag.pageNumber ?? 1;
    int totalPages = ViewBag.totalPages ?? 0;
    ViewBag.PageType = "heatNetwork";
}
<!DOCTYPE html>
<html>
<head>
    <title>HeatNetworks</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".edit-button").click(
                function () {
                    var row = $(this).closest("tr");
                    var networkId = row.find(".network-id").text();
                    var networkName = row.find(".network-name").text();
                    var networkNumber = row.find(".network-number").text();
                    var enterpriseId = row.find(".enterprise-id").text();
                    var networkType = row.find(".network-type").text();

                    $("#selected-data [name='networkId']").val(networkId);
                    $("#selected-data [name='networkName']").val(networkName);
                    $("#selected-data [name='networkNumber']").val(networkNumber);
                    $("#selected-data [name='enterpriseId']").val(enterpriseId);
                    $("#selected-data [name='networkType']").val(networkType);
                }
            );
        });
    </script>
    <style>
        .containerr {
            display: flex;
        }

        .table-container {
            margin-right: 20px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/EnterpriseCreateDelete.css" />
    <link rel="stylesheet" type="text/css" href="/css/Index.css" />
</head>
<body>
        <p>
            <a href='@Url.Action("Create", "HeatNetwork")' class="button">Добавить сеть</a>
            <a href='@Url.Action("Delete", "HeatNetwork")' class="button">Удалить сеть</a>
            <a href='@Url.Action("Index", "Home")' class="button">Вернуться на главную</a>
        </p>
    <h3>Список тепловых сетей</h3>
    <div class="containerr">
        <div class="table-container">
            <table>
                <tr>
                    <th>Код</th>
                    <th>Название</th>
                    <th>Номер</th>
                    <th>ID компании</th>
                    <th>Имя компании</th>
                    <th>Тип</th>
                    <th>Действия</th>
                </tr>
                @foreach (HeatNetwork heatNetwork in heatNetworks)
                {
                    <tr>
                        <td class="network-id">@heatNetwork.NetworkId</td>
                        <td class="network-name">@heatNetwork.NetworkName</td>
                        <td class="network-number">@heatNetwork.NetworkNumber</td>
                        <td class="enterprise-id">@heatNetwork.EnterpriseId</td>
                        <td>@heatNetwork.Enterprise?.EnterpriseName</td>
                        <td class="network-type">@heatNetwork.NetworkType</td>
                        <td><button class="edit-button">Редактировать</button></td>
                    </tr>
                }
            </table>
        </div>
        <div id="selected-data">
            <h2>Выбранные данные</h2>
            <form action="/HeatNetwork/Update" method="post" class="container">
                <label for="networkId">Код:</label>
                <input type="text" name="networkId" readonly>
                <br>
                <label for="networkName">Название:</label>
                <input type="text" name="networkName" required>
                <br>
                <label for="networkNumber">Номер:</label>
                <input type="number" name="networkNumber" required>
                <br>
                <label for="enterpriseId">ID компании:</label>
                <input type="number" name="enterpriseId" required>
                <br>
                <label for="networkType">Тип:</label>
                <input type="text" name="networkType" required>
                <br>
                <input type="hidden" value="@pageNumber" name="PageNumber" />
                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>
    </div>
    @Html.Partial("_pagingPartial")
</body>
</html>