@{
	var result = ViewBag.data as List<HeatWell> ?? new();
	var text = ViewBag.text as string ?? "";
}
@using InfoStruct.Sessions;
@using ModelsLibrary.Models
@model SessionSearchStuff;
<link rel="stylesheet" type="text/css" href="/css/ForSearch.css" />
<a href='@Url.Action("Index", "Home")' class="button">Вернуться на главную</a>
<br>
<br>
<form>
	<label for="searchColumn">Выберите столбец для поиска:</label><br />
	<select name="searchColumn">
		<option value="WellName" @(Model.columnName == "WellName" ? "selected" : "")>WellName</option>
		<option value="NodeNumber" @(Model.columnName == "NodeNumber" ? "selected" : "")>NodeNumber</option>
	</select><br />

	<label for="searchText">Введите текст для поиска:</label><br />
	<input type="text" name="searchText" value="@Model.textForSearch" /><br />

	<input type="submit" value="Найти" />
</form>

<div>
    <table border="1">
        <tr>
            <th>Код</th>
            <th>Название</th>
            <th>Номер</th>
        </tr>

        @foreach (HeatWell well in result)
        {
            <tr>
                <td>@well.ID</td>
                <td>@well.WellName</td>
                <td>@well.NodeNumber</td>
            </tr>
        }
    </table>
</div>
