@using ModelsLibrary.Models;
@{
    var heatWells = ViewBag.data as List<HeatWell>;
    int pageNumber = ViewBag.pageNumber ?? 1;
    int totalPages = ViewBag.totalPages ?? 0;
    ViewBag.PageType = "heatWell";
}
<!DOCTYPE html>
<html>
<head>
    <title>Heat Wells</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".edit-button").click(
                function () {
                    var row = $(this).closest("tr");
                    var id = row.find(".well-id").text();
                    var name = row.find(".well-name").text();
                    var networkId = row.find(".network-id").text();
                    var nodeNumber = row.find(".node-number").text();

                    $("#selected-data [name='wellId']").val(id);
                    $("#selected-data [name='wellName']").val(name);
                    $("#selected-data [name='networkId']").val(networkId);
                    $("#selected-data [name='nodeNumber']").val(nodeNumber);
                }
            );
        });
    </script>
    <style>
        .containerr {
            display: flex;
        }

        .table-container {
            margin-right: 20px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/EnterpriseCreateDelete.css" />
    <link rel="stylesheet" type="text/css" href="/css/Index.css" />
</head>
<body>
        <p>
            <a href='@Url.Action("Create", "HeatWell")' class="button">Добавить скважину</a>
            <a href='@Url.Action("Delete", "HeatWell")' class="button">Удалить скважину</a>
            <a href='@Url.Action("Index", "Home")' class="button">Вернуться на главную</a>
        </p>
    <h3>Список скважин</h3>
    <div class="containerr">
        <div class="table-container">
            <table>
                <tr>
                    <th>Код</th>
                    <th>Название</th>
                    <th>Код сети</th>
                    <th>Имя сети</th>
                    <th>Номер узла</th>
                    <th>Действия</th>
                </tr>

                @foreach (HeatWell well in heatWells)
                {
                    <tr>
                        <td class="well-id">@well.WellId</td>
                        <td class="well-name">@well.WellName</td>
                        <td class="network-id">@well.NetworkId</td>
                        <td>@well.Network?.NetworkName</td>
                        <td class="node-number">@well.NodeNumber</td>
                        <td><button class="edit-button">Редактировать</button></td>
                    </tr>
                }
            </table>
        </div>
        <div id="selected-data">
            <h2>Выбранные данные</h2>
            <form action="/HeatWell/Update" method="post" class="container">
                <label for="wellName">Название:</label>
                <input type="text" name="wellName" required>
                <br>
                <label for="networkId">Код сети:</label>
                <input type="number" name="networkId" required>
                <br>
                <label for="nodeNumber">Номер узла:</label>
                <input type="number" name="nodeNumber" required>
                <br>
                <input type="hidden" value="@pageNumber" name="PageNumber" />
                <button type="submit" class="button">Сохранить</button>
            </form>
        </div>
    </div>
    @Html.Partial("_pagingPartial")
</body>
</html>
